// === <ОСНОВНОЙ БЛОК>

// === общий блок текст с подтекстом
//  выносятся общие блоки в этот файл интерфейса
.item-main-slider {
	&__content {
	}

	&__container {
	}
}

.title {
	// центровка блока заголовка
	text-align: center;
	&__item {
		font-family: "ceremonious";
		color: $brand-c2; // #bb9c66;
		font-size: 40px;
		margin: 0px 0px 20px/40px * 1em 0px; // нижний отступ привязываем к размеру шрифта
	}

	&__main {
		font-family: "PFDin";
		letter-spacing: 5.25px;
		font-size: 35px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: calc(40 / 35);
		// модификаторы для изминения вида конкретного блока
		&_regular {
			font-weight: 400;
		}
		&_w {
			color: #fff;
		}
		@media (max-width: $md3+px) {
			font-size: 30px;
		}
	}
}
// === декор
.block-header {
	/* .block-header__title */
	&__title {
		margin-bottom: 20px;
	}

	/* .block-header__decor */
	&__decor {
	}
}

.block-decor {
	display: flex;
	align-items: center;
	/* .block-decor__items */
	&__items {
		flex: 1 1 auto; // левую и правую колонки масштабируем

		// псевдоэлементы по умолчанию инлайновые и для них не действуют height, width и др
		// поэтому делаем родителю flex и соответственно псевдоэлементы стали тоже
		display: flex;
		align-items: center;
		// линия
		&:before {
			content: "";
			height: 1px;
			width: 100%;
			background-color: $brand-c2;
			// линию можно масштабировать
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			width: 25 * 0.72 + px;
			height: 25px * 0.72;
			border: 1px solid $brand-c2;
			transform: rotate(-45deg);
			// квадрат не масштабируем
			flex: 0 0 25px * 0.72; // для надежного указания размера флекс-элемента
			margin: 0px 5px 0px 5px;
		}
		span {
			display: flex;
			align-items: center;
			margin: 0px 5px;
			// круг
			&:before {
				content: "";
				height: 10px;
				width: 10px; //
				border-radius: 50%; // так делать круг
				border: 1px solid $brand-c2;
				flex: 0 0 10px; // для надежного указания размера флекс-элемента
				margin: 0px 5px 0px 5px; // отступы влияют на поворот, поэтому лучше задать симметричные
			}
			&:after {
				content: "";
				width: 15 * 0.72 + px;
				height: 15 * 0.72 + px;
				border: 1px solid $brand-c2;
				transform: rotate(-45deg);
				flex: 0 0 15px * 0.72; // для надежного указания размера флекс-элемента
			}
		}
		&:last-child {
			flex-direction: row-reverse;
			span {
				flex-direction: row-reverse;
			}
		}
	}

	/* .block-decor__icon */
	&__icon {
		text-align: center;
		flex: 0 0 145px; // задаем фиксированую ширину центральному элементу и не масштабировать
		img {
			// max-width: 100%; // чтобы не поламался макет ограничиваем шириной блока флекс
			max-width: 70px; // или задаем точную ширину
		}
		@media (max-width: $md3+px) {
			flex: 0 0 95px; // задаем фиксированую ширину центральному элементу и не масштабировать
		}
	}
}

// === categories
.item {
	position: relative;
	padding: 30px 30px 40px 30px;
	text-align: center;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 992px) {
		&:hover {
			// применяем к внутреннему элементу
			.item__bg {
				transform: scale(1.1);
			}
		}
	}
}

.item__link {
	// ссылка круглая - чтобы не нажималась за пределами
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	border-radius: 50%;
	overflow: hidden;
}

.item__icon {
	position: relative;
	z-index: 2;
	margin: 0px 0px 22px 0px;
}

.item__title {
	letter-spacing: 2.1px;
	position: relative;
	z-index: 2;
	color: #fff;
	font-size: 21px;
	line-height: calc(25 / 21);
	font-weight: 500;
	text-transform: uppercase;
	font-family: "PFDin";
	flex: 1 1 auto; // если текст двустрочный
}

.item__deco {
	text-align: center;
	position: relative;
	z-index: 2;
}

.item__bg {
	transition: transform 0.8s ease 0s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
// === service item

.service {
	height: 100%; // растягиваем на всю высоту айтемы чтобы блоки выровнять
	text-align: center;
	display: flex;
	flex-direction: column;
}

.service__image {
	height: 205px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 10px 0px;
	// от картинки делаем отступ вниз
}

.service__title {
	flex: 1 1 auto; // заголовок может быть многострочным чтобы прижимать текст и кнопку
	font-family: "PFDin";
	font-size: 21px;
	font-weight: 500;
	line-height: calc(25 / 21);
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.1px;
}

.service__text {
	color: #bb9c66;
	font-size: 15px;
	line-height: calc(25 / 15);
	max-height: 50px; // для того чтобы бороться с двумя масштабируемыми блоками
	overflow: hidden;
	margin: 23px 0px 0px 0px;
}

.service__btn {
	position: relative;
	font-family: "PFDin";
	font-size: 21px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2.1px;
	text-align: center;
	text-transform: uppercase;
	// отступы делаем вверх (так в этом случае лучше)
	margin: 30px 0px 0px 0px;
	// линия на кнопку
	&:before {
		content: "";
		position: absolute;
		background-color: #bb9c66;
		height: 1px;
		width: 100%;
		top: 50%;
		left: 0;
	}
	span {
		background-color: #1c242a;
		position: relative;
		z-index: 2;
		padding: 0px 15px; // накрываем спаном в который обернут текст кнопки полоску
	}
}

// === / service

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
// === класс для установки красиво фонового изображения на весь блок
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
.moretext {
	overflow: hidden;
}
.moretext__more {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
.graystyle {
	@include anim(0.8s, 0s);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		@include flexbox();
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
		&.slick-prev {
		}
		&.slick-next {
		}
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
}
//=====================================================================================================================
.tab__item {
	display: none;
	&.active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//=====================================================================================================================
.gm-style {
}
.gm-style-iw-t {
	opacity: 0;
}
.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
	button {
		display: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-style {
	display: none;
}
.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
	> .gm-style-iw-d {
		overflow: hidden !important;
		max-width: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-close {
	top: 18px !important;
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
